
@{
    ViewData["Title"] = "AddWord";
}

<h2>Add Word</h2>

<form method="post" action="@Url.Action("AddWord", "Home")">
    <label>Input word</label>
    <input type="text" , name="Input" />
    <br>
    <button>Submit</button>
</form>

