@model List<string>

@{
    ViewData["Title"] = "DeleteTable";
}

@if (Model.Count > 0)
{
    <h1>Select which table you want to clear:</h1>
    <form method="post" action="@Url.Action("ClearTable", "Home")">
        @for (int i = 0; i < Model.Count; i++)
        {
            <text><input type="radio" name="tableName" value=@Model[i]> @Model[i] </text>
            @Html.Raw("<br />")
        }
        <br />
        <button type="submit">Submit</button>
    </form>
}
