@model List<string>

@{
    ViewData["Title"] = "Index";
}

<h2>Form</h2>

<form method="post" action="@Url.Action("Index", "Home")">
    <label>Input word</label>
    <input type="text" , name="id" />
    <br />
    <button type="submit">Submit</button>
    <br />
    <label>Anagrams</label>
    <ul>
        @if (Model != null)
        {
            @foreach (string s in Model)
            {
                <li>
                    @s
                </li>
            }
        }

    </ul>


</form>
