@{
    ViewData["Title"] = "NotAllowedToSearch";
}

<h2>Not Allowed To Search</h2>
<p>You can do these actions to get more searches:</p>
<ul>
    <li>@Html.ActionLink("Add new word","AddWord", "Home")</li>
    <li>Edit word</li>
</ul>

