@model List<SearchHistoryViewModel>

@{
    ViewData["Title"] = "SearchHistory";
}

<h2>SearchHistory</h2>

<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th, td {
        padding: 15px;
    }
</style>


<table>
    <tr>
        <th>Ip</th>
        <th>Request Word</th>
        <th>Request Date</th>
    </tr>
    @foreach (var searchDate in Model)
    {
        <tr>
            <td><p>@searchDate.Ip</p></td>
            <td><p>@Html.ActionLink(searchDate.RequestWord, "SearchInfo", "Home", new { word = searchDate.RequestWord, date = searchDate.RequestDate.ToString("yyyy-MM-dd HH:mm:ss.fff") })</p></td>
            <td><p>@searchDate.RequestDate</p></td>
        </tr>
    }
</table>