
@{
    ViewData["Title"] = "WriteToFile";
}

<h2>WriteToFile</h2>

<form method="post" action="@Url.Action("WriteToFile", "Home")">
    <label>Input word</label>
    <input type="text" , name="Input" />
    <br>
    <button>Submit</button>
</form>

