@model List<string>

@{
    ViewData["Title"] = "ReadDictionary";
}

<h2>ReadDictionary</h2>


@foreach (string s in Model)
{
    @Html.ActionLink(s, "Index", "Home", new { word = s })
    <br />
}
<br />
@if (ViewBag.Page > 0)
{
    @Html.ActionLink("Previous Page", "ReadDictionary", "WordRepository", new { page = ViewBag.Page - 1 })
}
&nbsp;
@(ViewBag.Page + 1)
&nbsp;
@Html.ActionLink("Next Page", "ReadDictionary", "WordRepository", new { page = ViewBag.Page + 1 })
